@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top-header {
  margin-top: 10vh;
}

.inputbox {
  visibility: hidden;
}

.gooseimgleft {
  height: 250px;
}

.gooseimgright {
  height: 250px;
}

.hover-rotate img {
  transition: transform 0.7s ease-in-out;
}

.hover-rotate:hover .gooseimgleft {
  transform: rotateZ(-360deg);
}

.hover-rotate:hover .gooseimgright {
  transform: rotateZ(360deg);
}

.title {
  font-size: 50px;
}

.gameButton {
  background-color: rgb(2, 128, 254);
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 50px;
  width: 220px;
}

.gameButton:hover {
  background-color: rgb(74, 163, 252);
  color: rgb(214, 213, 213);
}

.btn {
  color: white;
  font-weight: 500;
  border-radius: 0.25rem;
  min-width: 150px;
  min-height: 50px;
}

.btn-blue {
  background-color: #3d9ae5; /* Replace with your desired blue color */
  color: #ffffff; /* Text color */
  font-size: 20px;
}

.btn-blue:hover {
  background-color: #1d598a; /* Darker shade of blue on hover */
  font-weight: 600;
}

.btn-exit {
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: #5f1616;
  border-radius: 0.25rem;
  min-width: 120px;
  min-height: 40px;
}

.btn-exit:hover {
  background-color: #8a1d4e; /* Darker shade of blue on hover */
}

.wordpromptarea {
  width: 100%;
  min-height: 100px;
}

.scoretext {
  font-size: 40px;
  margin-top: 40px;
}

.custom-grid {
  height: auto;
}

.gameInputBox {
  width: 80%;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
}

.send-button {
  height: 50px;
}
.game-message {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
}
