.inputbox {
    visibility: hidden;
}
.gooseimgrvs{
    height: 250px;
    transform: scaleX(-1);
}

.gooseimg{
    height: 250px;
}

.hover-rotate img {
    transition: transform .7s ease-in-out;
}
  
.hover-rotate:hover img {
    transform: rotateZ(360deg);
}
